<div class="container-fluid  border">
    <div class="row p-3">
        <div class="col-4 my-auto">
            <a href="/" class="nav-title">Perfume</a>
        </div>
        <div class="col-8">
            <ul class="
            d-flex justify-content-end">
                <li class="my-1 ">
                    <i class="bi bi-search nav-search-icon" onclick="searchDivShow()"></i>
                </li>
                <li class="mx-2 mx-md-5"> 
                    <a href="/auth/login">
                        <i class="bi bi-person-fill nav-person-icon"></i>
                    </a>
                </li>
                <li class="my-1 me-3">
                    <a href="/basket">
                        <i class="bi bi-cart-fill nav-basket-icon"></i>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
    
</div>

<div class="container mt-3 border border-2 rounded rounded-2 nav-search-div display-none bg-white">
    <div class="col-12 text-end  m-1">
        <i class="bi bi-x search-x bg-danger rounded text-white m-0" onclick="searchDivShow()"></i>
    </div>
    <div class="row m-2 p-2 bg-light border border-2 rounded rounded-2">
        <div class="col-10 col-lg-11 ">
            <input type="text" class="form-control" name="" id="">
        </div>
        <div class="col-2 col-lg-1 ">
            <button class="btn btn-sm btn-primary border-2 py-0 search-btn"><i class="bi bi-search search-btn-icon"></i></button>
        </div>
    </div>
    
    
</div>

    