.basket-img{
    width: 70px;
}
.basket-btn-delete{
    padding: 0px 7px 0px 7px;
}
.basket-btn-plus{
    padding: 0px 7px 0px 7px;
}
.basket-btn-subtract{
    padding: 0px 9px 0px 9px;
}
.basket-inp-value{
    padding: 0px 7px 0px 7px;
}
.container-basket{
    max-width: 768px !important;
}
