<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    
    <!-- Navbar -->
    <%- include("../partials/nav.ejs") %>

    <div class="container">
        <div class="row mt-5">
            <%- include("../partials/card.ejs") %>
        </div>
    </div>

    

    
    <!-- Bootstrap Js  -->
    <script src="/libr/bootstrap/dist/css/bootstrap.min.css"></script>

    <!-- JavaScript  -->
    <script src="/static/javaScript/index.js"></script>
</body>
</html>